.info-card {
    width: 80%;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

.read {
    background-color: #EEE;
    border: 1px solid rgb(100, 100, 100);
}

.info-card .status {
    display: flex;
    justify-content:space-between;
    margin: 12px;
}

.info-card .status .readed {
    display: flex;
    justify-content: center;
}

.info-card .status .readed .new {
    background-color: #E65045;
    color: #EEE;
    font-size: 10px;
    padding: 7px;
    border-radius: 25px;
    display: inline;
}

.info-card .status .readed .icon,
.info-card .status .readed .delete-icon {
    color: #265ACC;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.info-card .status .readed .icon:hover,
.info-card .status .readed .delete-icon:hover {
    color: #102452;
    transform: translateY(-3px);
}

.info-card .status .readed .delete-icon {
    color: #E65045;
}

.info-card .status .readed .delete-icon:hover {
    color: #861a12;
}

.info-card .details {
    padding: 12px;
}

.info-card .details .read-more {
    color: #265ACC;
    cursor: pointer;
    transition: .3s ease;
}

.info-card .details .read-more:hover {
    color: #0b1a3a;
    transform: translateY(-3px);
}

.info-card .date {
    font-size: 12px;
    color: rgb(80, 80, 80);
    position: relative;
    right: -92%;
}