.sugesstion-card {
  background-color: #FFF;
  border-radius: 25px;
  padding: 25px;
  margin: 5px 5px 30px;
  box-shadow: 2px 5px 10px #000;
}

.sugesstion-card .sugesstion-details {
  display: flex;
  justify-content: space-around;
}

.sugesstion-card .sugesstion-details div {
  width: 100%;
}

.sugesstion-card .sg-lable {
  line-height: 1.8;
  font-size: 19px;
  color: #2c3531;
}

.sugesstion-card .lable {
  color: #2c3531;
}

.sugesstion-card .addition input:not([type="submit"]),
.sugesstion-card .addition textarea {
  background-color: #bebebe93;
  color: #011d10;
}

.sugesstion-card .sugesstion {
  font-weight: 800;
  color: #58af98;
}

.sugesstion-card button {
  outline: none;
  padding: 5px;
  border: none;
  cursor: pointer;
  min-width: 8%;
  margin: 5px 10px 5px 0;
  border-radius: 5px;
}

.sugesstion-card .add {
  background-color: #28682b;
  color: #eee;
}

.sugesstion-card .add:hover {
  background-color: #1a4d1d;
}

.sugesstion-card .delete {
  background-color: #a12114;
  color: #eee;
}

.sugesstion-card .delete:hover {
  background-color: #68150c;
}

@media only screen and (max-width: 500px) {
  .sugesstion-card .sugesstion-details {
    flex-direction: column;
  }
}
