.suggest-card {
  background-color: #FFF;
  border-radius: 25px;
  padding: 25px;
  margin: 5px 5px 30px;
  box-shadow: 2px 5px 10px #000;
}

.suggest-card .suggest-details {
  display: flex;
  flex-wrap: wrap;
}

.suggest-card .suggest-details div {
  width: 50%;
  display: flex;
  align-items: center;
}

.suggest-card .sg-lable {
  line-height: 1.8;
  font-size: 19px;
  color: #2c3531;
}

.suggest-card .sg-img {
  width: 20px;
  height: 30px;
  object-fit: cover;
}

.suggest-card .lable {
  color: #2c3531;
}

.suggest-card .addition input:not([type="submit"]),
.suggest-card .addition textarea {
  background-color: #bebebe93;
  color: #011d10;
}

.suggest-card .suggest {
  font-weight: 800;
  color: #58af98;
}

.control-btn {
  display: table;
  margin: 20px auto 0;
}

.suggest-card button {
  outline: none;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 5px;
}

.suggest-card .add {
  background-color: #28682b;
  color: #eee;
}

.suggest-card .add:hover {
  background-color: #1a4d1d;
}

.suggest-card .delete {
  background-color: #a12114;
  color: #eee;
}

.suggest-card .delete:hover {
  background-color: #68150c;
}

.close-btn {
  position: relative;
  background-color: #e91e63;
  border-radius: 50%;
  color: #FFF;
  left: calc(100% - 50px);
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .suggest-card .suggest-details {
    flex-direction: column;
  }
}