.signInContainer{
    display: flex;
    flex-direction: row;
    color: #2861A3;
    height: 100vh;
    width: 100vw;
    background-color: #DDE3E7;
    justify-content: center;
    align-items: center;
}

.signInContainer .form{
    text-align: center;
    width: 30%;
    border-right: 2px solid #EEE;
    padding: 10px 40px 10px;
}

.signInContainer .form .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.signInContainer .form input{
    display: block;
    width: 100%;
    padding: 2.5% 5px;
    margin: 7% 0;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
}

.submit-button {
    height: 80px;
}

.signInContainer .form input[type="submit"]{
    color: #EEE;
    font-size: 22px;
    background-color: #2861A3;
    transition: background-color .3s, visibility 0s;
    cursor: pointer;
}

.signInContainer .form input[type="submit"]:hover{
    background-color: #e91e63;
}

.signInContainer .form .hide {
    visibility: hidden;
}

.signInContainer .form span{
    position: absolute;
    left: 0;
    top: 0;
    margin: 6px 5px;
    padding: 5px 0;
    font-size: 16px;
    pointer-events: none;
    transition: .2s;
    color: #666;
}

.signInContainer .form input:valid ~ span,
.signInContainer .form input:focus ~ span{
    color: #e91e63;
    font-weight: 600;
    font-size: 14px;
    transform: translateY(-110%);
    transition: .4s;
}

.signInContainer .imgContainer{
    display: flex;
    width: 40%;
}

.signInContainer .imgContainer img{
    width: 100%;
}

.load-row {
    position: relative;
    top: -80%;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.load-block {
    display: inline-block;
    border-radius: 0;
    transition: width 0.5s ease, height 0.5s ease, margin 0.5s ease, border-radius 0.5s ease;
}

.load-block:nth-child(1) {
    border-radius: 5px 0 0 5px;
}

.load-block:nth-child(3) {
    border-radius: 0 5px 5px 0;
}

.load-block-anim {
    background-color: #2861A3;
    margin: 5px;
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    transition: width 0.5s ease, height 0.5s ease, margin 0.5s ease, border-radius 0.5s ease;
}

.load-block-anim:nth-child(1) {
    animation: jump 1.5s infinite;
}
  
.load-block-anim:nth-child(2) {
    animation: jump 1.5s 0.2s infinite;
}
  
.load-block-anim:nth-child(3) {
    animation: jump 1.5s 0.4s infinite;
}
  
@keyframes jump {
    0%, 40%, 100% {transform: translateY(0px);}
    70% {
      transform: translateY(-20px);
      background-color: #e91e63;
    }
}

@media (max-width: 991px){

    .signInContainer{
        flex-direction: column-reverse;
        height: 100vh;
    }

    .signInContainer .form{
        border-right: none;
        width: 80%;
    }

    .signInContainer .imgContainer{
        width: 40%;
    }
}

@media (max-width: 500px){

    .signInContainer .form{
        border-right: none;
        width: 75%;
    }

    .signInContainer .form input{
        margin: 10% 0;
    }

    .signInContainer .imgContainer{
        width: 40%;
    }

}