.addition {
    color: #00453f;
}

.addition h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 700;
}

.addition > form{
    display: flex;
    flex-wrap: wrap;
} 

.addition > form div{
    width: 50%;
}

.addition > form .textarea-div{
    width: 100%;
}

.addition form .lable{
    display: block;
    font-size: 16.5px;
    margin: 15px 0 5px;
    text-transform: capitalize;
    pointer-events: none;
}

.addition input:not([type="submit"]),
.addition textarea{
    padding: 8px 10px;
    width: 80%;
    background-color: #01503313;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
}

.addition textarea{
    height: 100px;
    resize: none;
    width: 90%;
}

.addition input:not([type="submit"]):invalid,
.addition textarea:invalid{
    color: red;
}

.addition form .primary,
.addition form .outline{
    padding: 7px 10px;
    border-radius: 25px;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    margin: 2px;
    text-transform: capitalize;
    transition: .2s all ease-in-out;
}

.addition form .primary{
    background-color: #115293;
    color: #FFF;
    border: 1px solid #FFF;
}

.addition form .primary:hover{
    transition: .2s all ease-in-out;
    background-color: #0f4881;
    color: #EEE;
}

.addition form .outline{
    color: #115293;
    background-color: #FFF;
    border: 1px solid #115293;
}

.addition form .outline:hover{
    background-color: #EEE;
    border: 1px solid #0f4881;
    transition: .2s all ease-in-out;
}

.addition form .chip-icon{
    margin: 0 2px -2px 10px;
    font-size: 15px !important;
}

.addition .submit-btn{
    margin: 30px auto;
    cursor: pointer;
    padding: 8px 50px;
    border: none;
    outline: none;
    color: #00453f;
    background-color: #FFF;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid #00453f;
}

.addition .submit-btn:hover{
    color: #FFF;
    background-color: #00453f;
    transition: .5s all ease-in-out;
}

.options {
    list-style: none;
    background-color: #EEE;
    position: absolute;
    overflow-y: auto;
    color: #003e70;
    padding: 5px;
    width: 31%;
    border-radius: 5px;
    transition: .5s;
    height: 200px;
}

ul li {
    padding: 8px;
    cursor: pointer;
}

ul li:hover {
    background-color: rgb(194, 194, 194);
}

.submit-change {
    position: fixed;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #00000030;
}

.submit-change .loader .balls-container .ball {
    background-color: #000;
}

@media only screen and (max-width: 500px){
    .addition > form div{
        width: 100%;
    }
}