.delete-window{
    background-color: rgba(0, 0, 0, 0.705);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.delete-confirm{
    position: fixed;
    padding: 1.5% 0;
    background-color: #0D1117;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 26%;
    border-radius: 8px;
    z-index: 1000;
    border: 1.5px solid rgb(76, 71, 71);
    color: #EEE;
}

.delete-confirm div{
    margin: 0 5% 5%;
    text-align: left;
}

.window-header{
    background-color: #ffae0010;
    color: #fab618;
    border-top: 1px solid #ffae00;
    border-bottom: 1px solid #ffae00;
    padding: 14px 3.5%;
}

.delete-confirm p > span{
    color: #FFF;
    font-weight: 700;
}

.assurance-message{
    margin: 3.5%;
}

.delete-confirm > input{
    border-radius: 2px;
    padding: 10px;
    width: 90%;
    outline: none;
    border: none;
    margin-bottom: 4%;
}

.card-btn.able{
    color: #BA372A;
    background-color: transparent;
    border: 1px solid #BA372A;
    cursor: default;
}

@media only screen and (max-width: 800px){
    .delete-confirm{
        width: 86%;
        padding: 5% 0;
    }
    .delete-confirm > input{
        width: 90%;
    }
}