.sidebar {
  background: #020509;
  grid-area: sidebar;
  overflow-y: auto;
  padding: 20px;
  height: 100vh;
  width: 18%;
  position: fixed;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f3f4f6;
  margin-bottom: 30px;
}

.sidebar-title>h1 {
  font-size: 20px;
  display: inline;
}

.sidebar-title>i {
  font-size: 18px;
  margin: 0 10px;
  display: none;
}

.sidebar-menu>h2 {
  color: #116466;
  font-size: 18px;
  margin: 25px 0 15px;
  padding: 0 10px;
  font-weight: 800;
}

.sidebar-link {
  color: #f3f4f6;
  margin-bottom: 5px;
  padding: 12px 0px;
}

.active-menu-link {
  background: #1165664f;
  color: #3ea175;
  padding: 10px 7px;
  border-radius: 3px;
  margin-bottom: 5px;
  transition: all 0.5 ease-in-out;
}

.sidebar-link>.link {
  text-decoration: none;
  color: #eee;
  font-weight: 700;
}

.sidebar-link .link i,
.sidebar-logout .link i {
  margin-right: 10px;
  font-size: 18px;
}

.sidebar-logout {
  margin-top: 20px;
  color: #e65061;
  cursor: pointer;
}

.sidebar-logout>.link {
  text-decoration: none;
  color: #e65061;
  font-weight: 700;
  text-transform: uppercase;
}

@media only screen and (max-width: 1090px) {

  .sidebar {
    position: fixed;
    margin: 0 0 0 -105%;
    transition: all 1s ease-in-out;
    width: 35%;
  }

  .sidebar-responsive {
    display: inline;
    margin: 0;
    z-index: 9999;
    left: 0;
  }

  .sidebar-title>i {
    display: inline;
    cursor: pointer;
  }
}

@media only screen and (max-width: 578px) {
  .sidebar {
    width: 90%;
  }
}