.book {    
    display: grid;
    grid-template-columns: 30% repeat(4, calc(70% / 4));
    align-items: center;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

.book-cards span {
    display: flex;
    align-items: center;
}

.book-cards .book-title {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.author-name > a{
    font-size: 15px;
    color: rgb(107, 107, 107);
}

.card-btn{
    padding: 5px;
    min-width: 48%;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
    height: 30px;
    margin-right: 5px;
}

.card-btn.edit{
    background-color: #115384;
    border: 1px solid #115384;
}

.card-btn.edit > a {
    color: #EEE;
}

.card-btn.edit:hover{
    background-color: transparent;
}

.card-btn.edit:hover > a {
    color: #115384;
}

.card-btn.delete{
    color: #EEE;
    background-color: #BA372A;
    border: 1px solid #BA372A;
}

.card-btn.delete:hover{
    color: #BA372A;
    background-color: transparent;
}